.App {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  max-width: 414px;
  min-width: 414px;
}

/* .inviteeAvatar {
  transform: translate(10px, 5px) !important;
  right: 50;
  top: 10;
} */

.downloadCTN {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes updown {
  0% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(1%);
  }

  100% {
    transform: translateY(-50%);
  }
}

.downloadIcon {
  animation: updown 2s ease infinite;
}

.actionBtn {
  background-color: #528609;
}

.custom-file-upload {
  background-color: #528609;
}

input[type="file"]{
  display: none;
}

label{
  cursor: pointer;
}

.imageUploadCtrl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.headerMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inviteeName {
  transform: rotate(2deg)
}